$anms-primary: mat-palette($mat-indigo, 800, 300, 900);
$anms-accent: mat-palette($mat-orange);
$anms-warn: mat-palette($mat-red);

$anms-theme: mat-light-theme($anms-primary, $anms-accent, $anms-warn);
