.main-heading {
  // text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: center;
}

table {
  width: 100%;
}

.table-container {
  margin-bottom: 1em;
}

.mat-table .mat-header-cell {
  text-transform: uppercase;
}

.mat-row {
  min-height: 36px;
}

/* column widths, see: https://stackoverflow.com/questions/45159066/md-table-how-to-update-the-column-width */
.mat-column-position {
  width: 110px;
}

.mat-column-name {
}

.mat-column-weight {
  width: 130px;
}

.mat-column-symbol {
  width: 360px;
}

.mat-row:hover {
  background-color: #eff2f5;
}
