@import '~@angular/material/theming';

// see: https://medium.com/@tomastrajan/the-complete-guide-to-angular-material-themes-4d165a9d24d1
// and there: Theming our custom components

@mixin anms-table-component-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .examples-table {
    .mat-row:hover td {
      color: mat-color($accent, lighter-contrast);
      background-color: mat-color($accent, lighter);
    }
  }
}
